h1
{
color: red;
font-size: 5em;
font-family: monospace;
}

h2
{
color: blue;
fornt-size:5em;
font-family: monospace;
}

{
https://i.ytimg.com/vi/MPMIpp7Q2k0/maxresdefault.jpg
}
img-style-type: circle);
{

}
